* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(204, 157, 248);
}

main {
    background-color: white;
    height: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.473);
}